DirectoryIndex index.html
Options -Indexes
RedirectMatch 301 ^/voicesunveiled/donate/?$ /voicesunveiled/donate-now/
RedirectMatch 301 ^/voicesunveiled/emergency-fund/?$ /voicesunveiled/donations/emergency-funds-for-ava-and-nima/
RedirectMatch 301 ^/voicesunveiled/time-is-running-out/?$ /voicesunveiled/donations/time-is-running-out/
RedirectMatch 301 ^/voicesunveiled/reclamation/?$ /voicesunveiled/reclamation/
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access plus 30 days"
  ExpiresByType image/png "access plus 30 days"
  ExpiresByType image/webp "access plus 30 days"
  ExpiresByType image/svg+xml "access plus 30 days"
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
</IfModule>
